/* body {
  background-image: url('images/arena.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
} */
.grid-container {
  display: grid;
  height: 100vw;
  grid-template-columns: repeat(15, 6.667%);
  grid-template-rows: repeat(8, 6.667%);
  grid-gap: 0px;
}

.grid-item {
  border: solid navy 1px;
}
.grid-item img{
  max-height: 100%;
  max-width: 100%;
}
.grid-area {
  grid-area: 2/2/8/15;

/* span or area the whole interior*/
}


/*can use materialize, ML recommends bootstrap

 grid span thing */
